In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.3/281.3 MB 3.1 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 5.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=ec68d9773b337b8b50a388c71fb2acd9fed981ee0da5b05785fe14302e655d1c
  Stored in directory: /Users/mohsen/Library/Caches/pip/wheels/81/9c/6c/d5200fcf351ffa39cbe09911e99703283624cd037df58070d9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [22]:
import pyspark
import pandas as pd

In [23]:
pd.read_csv('test.csv')

   Name   Age
0  Glenn   32
1    Max   28
2   Alex   44
3  David   56

In [24]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('hourofci').getOrCreate()
df_pyspark=spark.read.csv('test.csv')

In [25]:
spark = SparkSession.builder.appName('hourofci').getOrCreate()

In [26]:
spark

In [27]:
df_pyspark=spark.read.csv('test.csv')

In [28]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [29]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
|Name |Age|
|Glenn| 32|
|  Max| 28|
| Alex| 44|
|David| 56|
+-----+---+

In [30]:
df_pyspark = spark.read.option('header', 'true').csv('test.csv', inferSchema=True)

In [31]:
df_pyspark.show()

+-----+---+
|Name |Age|
+-----+---+
|Glenn| 32|
|  Max| 28|
| Alex| 44|
|David| 56|
+-----+---+

In [32]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [33]:
df_pyspark.head(3)

[Row(Name ='Glenn', Age=32),
 Row(Name ='Max', Age=28),
 Row(Name ='Alex', Age=44)]

In [34]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)

* PySpark Dataframe
* Reading the Dataset
* Data columns info (schema)
* Data indexing and selection
* Describe function
* Add and drop columns

https://www.youtube.com/watch?v=8EnT23Zk3Gw

In [35]:
from pyspark import SparkContext, SparkConf

In [36]:
conf = SparkConf().setAppName("hourOfCI").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)

In [37]:
sc

In [38]:
import os
os.cpu_count()

8

https://www.jigsawlabs.io/free-data-engineering-course